.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 80px;
}

.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-left: 150px;
    
}

.list-container{
    background-color: #a063cc;
    color: white;
    padding-left: 20px;
}