.header{
    height: 80px;
    background-color: #ffffff;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding-left:140px;
    padding-right: 140px;
    width: 100%;
    
}

.site-name{
    display: flex;
    align-items: center;
}
.header h1{
    color: #890CE5;
}

.header img{
    width: 40px;
    height: 40px;
}
.select-exercise{
    margin-bottom: 20px;
}
